body {
  padding: 100px;
  text-align: center;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#content {
  width: 60%;
  margin: 0 auto;
  contain: layout inline-size;
}

.list-title {
  align-items: baseline;
}

.delete-btn {
  float: right;
}

.create {
  align-items: center;
}
.message {
  margin: 70px;
}

.input-list {
  align-items: center;
}

.element-list {
  padding-top: 5%;
}

.eliminar-btn {
  float: right;
}

.task {
  background-color: #f3f3f3;
}

.done-indicator {
  background-color: pink;
}
